body{
  background-image: linear-gradient(0deg, #E6E6F5, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-wrapper-color{
  background-image: linear-gradient(-90deg, #7A7DC4, #8098CF);
}

.form-login{
  max-width: 500px;
  margin: 0 auto;
}

.font-esqueci-senha{
  padding-top: 2px;
  color: #7986cb;
  font-size: 17px;
}

.padding-top-buttom{
  padding-top: 15px;
}

.user-view .background{
  background-image: linear-gradient(-90deg, #7A7DC4, #8098CF);
}

ul a .circle{
  object-fit: cover;
}


/* label focus color */
 .input-field input:focus + label {
   color: #7986cb !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #7986cb !important;
   box-shadow: 0 1px 0 0 #7986cb !important
 }

 .btn-sidenav{
   margin-top: 10px;
   height: 45px;
   width: 45px;
   display:flex;
   align-items:center;
   background-color: transparent;
   object-fit: cover;
 }

  .btn-sidenav:hover{
    background-color: #6976c0;
  }

 @media screen and (max-width: 600px) {
   .btn-sidenav{
     margin-top: 5px;
  }
}
