body{
  background-image: linear-gradient(0deg, #E6E6F5, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-wrapper-color{
  background-image: linear-gradient(-90deg, #7A7DC4, #8098CF);
}

.brand-logo img {
  height: 55px;
  padding-top: 8px;
  padding-left: 5px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .brand-logo img {
    height: 50px;
    object-fit: cover;
  }
}

.form-login{
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.font-esqueci-senha{
  padding-top: 2px;
  color: #7986cb;
  font-size: 17px;
}

.padding-top-buttom{
  padding-top: 15px;
}

.user-view .background{
  background-image: linear-gradient(-90deg, #7A7DC4, #8098CF);
}

ul a .circle{
  object-fit: cover;
}


/* label focus color */
 .input-field input:focus + label {
   color: #7986cb !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #7986cb !important;
   box-shadow: 0 1px 0 0 #7986cb !important
 }

 /* Active/Inactive Valid input field color */
   .input-field input[type].valid,
   .input-field input[type].valid:focus,
   .input-field textarea.valid,
   .input-field textarea.valid:focus {
       border-bottom: 0.1px solid #a3a3a3;
       box-shadow: 0 0.1px 0 0 #a3a3a3;
   }

 .btn-hover-color:hover{
   background-color: #6c70b9 !important;
 }

 .btn-sidenav{
   margin-top: 10px;
   height: 45px;
   width: 45px;
   display:flex;
   align-items:center;
   background-color: transparent;
   object-fit: cover;
   transition-duration: 0.15s;
 }

 .btn-sidenav:hover{
   transition-duration: 0.15s;
   filter: grayscale(70%);
 }

 @media screen and (max-width: 600px) {
   .btn-sidenav{
     margin-top: 5px;
  }
}

.div-perfil{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.foto-perfil{
  height: 20vw;
  width: 20vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
}



.highlight tr:hover{
  background-color: #ddd !important;
}

.foto-editar-perfil{
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.icon-edit{
  color: white;
  background-color: #7986cb;
  padding: 0.7vh;
  border-radius: 50%;
  position: absolute;
}

.foto-hover{
  transition-duration: 0.25s;
}

.foto-hover:hover{
  transition-duration: 0.25s;
  filter: grayscale(70%);
}



.box-tema label{
  position: relative;
  cursor: pointer;
}

.box-tema label img{
  border: 4px solid transparent;
  border-radius: 5px;
  padding: 0px;
}

.box-tema label input:checked ~ img{
  border: 4px solid #7986cb;
}
